$font-color: #000;
$link-color: #3ebac1;
$link-hover-color: #43625d;

$navbar-width: 230px;
$navbar-bgcolor: #1d1d20;

$content-max-width: 960px;
$content-bgcolor: #fff;

$navbar-link-color: #babbbd;
$navbar-hover-color: #fff;

/* General */
body {
	background: $content-bgcolor;
	color: $font-color;
	font: 18px 'Open Sans', Helvetica, Arial, sans-serif;
}

a, a:link, a:visited, a:hover, a:active {
	color: $link-color;
	font-weight: bold;
	text-decoration: none;
	transition: color .25s ease-out;
}

a:hover, a:active {
	color: $link-hover-color;
}

h1 {
	font-size: 24px;
	margin: 8px 0 2px;
	text-transform: uppercase;
}

p {
	margin: 0 0 10px;
}

ul {
	margin: 2px 0 10px 0;
}

/* Navbar Area */
#navbar {
	box-sizing: border-box;
	width: $navbar-width;
	padding: 10px 20px 10px 0;
	float: left;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: $navbar-bgcolor;
	text-align: right;
}

#logo {
	font: 48px 'Exo', sans-serif;
	font-style: italic;
	letter-spacing: 2px;
	margin-right: 10px;
}

a#logo, a#logo:link, a#logo:visited {
	color: #fff;
}

a#logo:hover {
	color: $link-color;
}

#navbar ul {
	margin-top: 10px;
	padding: 0;
	font-size: 16px;
	list-style-type: none;
	text-transform: uppercase;
}

#navbar li a {
	padding: 8px 10px 8px 0;
	display: block;
	background-image: linear-gradient(to right, $link-color 50%, $navbar-bgcolor 50%);
	background-position: 100%;
	background-size: 200% 100%;
	font-size: 14px;
	letter-spacing: 4px;
	color: $navbar-link-color;
	transition: color .1s ease-out, background-position .15s ease-out;
}

#navbar li a:hover {
	color: #fff;
	/*background-color: $link-color;*/
	background-position: 0;
}

/* Content Area */
#content {
	box-sizing: border-box;
	max-width: $content-max-width;
	padding: 10px 10px 10px $navbar-width + 30;
}
