$bgcolor: #eee;
$font-color: #000;
$link-color: #3ebac1;
$link-hover-color: #43625c;
$link-active-color: #0a302e;

$navbar-width: 220px;
$navbar-bgcolor: #292c31;

$content-max-width: 960px;

$navbar-link-color: #babbbd;
$navbar-hover-color: #fff;

$footer-bgcolor: #2e2e33;
$footer-txt-color: #999;

$turquoise: #3dbbc2;
$light-turquoise: #54e1e6;
$white: #fff;

/* General */
body {
	background: $bgcolor url('/img/bg.png');
	color: $font-color;
	font: 18px 'Open Sans', Arial, sans-serif;
}

a, a:link, a:visited, a:hover, a:active {
	color: $turquoise;
	font-weight: bold;
	text-decoration: none;
	transition: color .1s cubic-bezier(0,1,.8,1);
}

a:hover {
	color: $light-turquoise;
	text-decoration: underline;
}

h1, h2, h3, h4 {
	font: bold 28px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 4px;
	margin: 0 0 2px;
	text-transform: uppercase;
}

h2, h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
	text-transform: none;
}

h3, h4 {
	letter-spacing: 0;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	text-decoration: none;
}

p {
	margin: 0 0 10px;
}

ul {
	margin: 2px 0 10px 0;
}

/* Navbar Area */
#navbar {
	box-sizing: border-box;
	width: $navbar-width;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: $navbar-bgcolor;
	transition: left 0.2s cubic-bezier(0,1,.8,1);
}

nav#navbar.navbar-hide {
	left: -$navbar-width;
}

#logo {
	margin-bottom: 10px;
	font: italic 48px 'Exo', Arial, sans-serif;
	letter-spacing: 2px;
	color: $turquoise;
}

#navbar-content {
	width: 150px;
	margin: 0 auto;
}

#navbar ul {
	padding: 0;
	font: 14px 'Open Sans Condensed', Arial, sans-serif;
	list-style-type: none;
	text-transform: uppercase;
}

#navbar ul.show-mobile-menu {
	display: block;
}

#navbar li {
	border-bottom: 1px solid #393939;
	transition: all 0.5s cubic-bezier(0,1,.8,1);
}

#navbar li:hover {
	padding-left: 10px;
}

#navbar li:last-child {
	border-bottom: 0;
}

#navbar li a {
	padding: 10px 0;
	display: block;
	letter-spacing: 4px;
	color: $navbar-link-color;
}

#navbar li a:hover {
	color: $white;
	text-decoration: none;
}

#navbar button {
	width: 23px;
	height: 34px;
	float: right;
	display: none;
	background: none;
	background: url('/img/mobile-menu-icon.png') no-repeat center;
	border: 0px;
	outline: none;
}

#navbar button:hover {
	background: url('/img/mobile-menu-icon-hover.png') no-repeat center;
}

/* Content Area */
#content {
	margin-left: $navbar-width;
	opacity: 1;
	transition: opacity .2s ease-out;
}

#content.load {
	opacity: 0;
}

.main {
	max-width: $content-max-width;
	padding: 10px 10px 10px 24px;
	margin: 0 auto;
}

.stretch-area {
	margin: 20px 0 10px;
	background-color: #d2d2d2;
}

.stretch-area a {
	font-size: 14px;
	text-transform: uppercase;
}

.cover {
	width: 100%;
	height: 850px;
	margin-bottom: 10px;
	position: relative;
}

#cover-text {
	height: 250px;
	position: absolute;
	top: 42%;
	right: 0;
	left: 0;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}

#cover-text h1 {
	margin-top: 70px;
	font-size: 48px;
	color: $white;
	text-shadow: 3px 3px rgba(0,0,0,0.3);
}

#cover-text p {
	font-size: 16px;
	font-weight: bold;
	color: #ddd;
	text-shadow: 3px 3px rgba(0,0,0,0.3);
	text-transform: uppercase;
}

#front-content {
	width: 100%;
	float: left;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes title-drop-in {
    0% {
    	opacity: 0;
        transform: translateY(-200px);
    }

    60% {
    	opacity: 1;
        transform: translateY(0);
    }

    100% {
    	opacity: 1;
    	transform: skewX(-10deg);
    }
}

@keyframes drop-in {
    0% {
    	opacity: 0;
        transform: translateY(-30px);
    }
    100% {
    	opacity: 1;
        transform: translateY(0);
    }
}

#front-title {
	margin: 0;
	font: 72px 'Exo', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	animation-name: title-drop-in;
	animation-delay: 0.1s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.25,1,1,1);
	color: $turquoise;
	opacity: 0;
	text-align: center;      
}

#front-subtitle {
	margin: 0 0 50px;
	font: 24px 'Inconsolata', 'Courier New', Courier, monospace;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	animation-name: drop-in;
	animation-delay: 1.1s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.25,1,1,1);
	color: #666;
	opacity: 0;
	text-align: center;
}

ul.button-nav {
	margin: 6px auto;
	padding: 0;
	float: left;
	position: relative;
	left: 50%;
	list-style-type: none;
}

ul.button-nav li {
	float: left;
	position: relative;
	right: 50%;
}

ul.button-nav li img {
	width: 20px;
	height: 20px;
	margin: 0 10px 4px 0;
	vertical-align: middle;
}

ul.front-nav li {
	animation-name: drop-in;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.25,1,1,1);
    opacity: 0;
}

ul.button-nav li:nth-child(1) {
	animation-delay: 1.6s;
}

ul.button-nav li:nth-child(2) {
	animation-delay: 1.7s;
}

ul.button-nav li:nth-child(3) {
	animation-delay: 1.8s;
}

ul.button-nav li:nth-child(4) {
	animation-delay: 1.9s;
}

ul.button-nav li:nth-child(5) {
	animation-delay: 2s;
}

a.btn-link {
	box-sizing: border-box;
	width: 146px;
	height: 33px;
	margin: 0 20px;
	padding: 6px 6px;
	display: block;
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	background-color: $turquoise;
	color: $white;
	text-align: center;
	transition: background-color .2s;
}

a.btn-link:hover {
	background-color: $light-turquoise;
	text-decoration: none;
}

a.btn-link:active {
	background-color: $link-active-color;
}

.stretch-border {
	border-top: 1px solid #878787;
	border-bottom: 1px solid #878787;
}

#filter {
	font: 14px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 2px;
	color: #464646;
}

#filter ul {
	margin: 0 0;
	padding: 0 0;
	display: inline;
}

#filter li:first-child {
	border-left: 1px solid #878787;
}

#filter li {
	padding: 10px 14px 10px 8px;
	border-right: 1px solid #878787;
	display: inline;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.2s ease-out;
}

#filter li:hover {
	background-color: $link-color;
}

#gallery {
	clear: left;
}

div.work-item {
	width: 310px;
	height: 230px;
	margin: 0 10px 10px 0;
	float: left;
	position: relative;
	transition: opacity 0.3s ease-out;
	overflow: hidden;
}

div.work-item span {
	box-sizing: border-box;
	width: 310px;
	height: 230px;
	padding: 5px 8px;
	position: absolute;
	top: 200px;
	display: block;
	text-align: left;
	text-transform: uppercase;
	background-color: $turquoise;
	color: #fff;
	transition: top 0.3s cubic-bezier(0,1,.8,1);
}

div.work-item > span > h1 {
	margin: 0 0 4px;
	font-size: 14px;
}

div.work-item > span > p {
	font-size: 14px;
	text-transform: none;
}

div.work-item > span > p.work-item-cat {
	margin-bottom: 14px;
	font: 12px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

div.work-item > span > ul {
	position: absolute;
	bottom: 0;
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 4px;
	text-align: center;
	text-transform: uppercase;
	list-style-type: none;
}

div.work-item > span > ul > li > a.btn-overlay-link {
	box-sizing: border-box;
	width: 130px;
	height: 30px;
	margin: 0 6px 10px;
	padding: 4px 6px;
	border: 1px solid $white;
	display: block;
	background-image: linear-gradient(to right, $white 50%, rgba(255,255,255,0) 50%);
	background-position: 100%;
	background-size: 200% 100%;
	color: $white;
	transition: background-position .2s cubic-bezier(0,1,.8,1), color .2s cubic-bezier(0,1,.8,1);
}

div.work-item > span > ul > li > a.btn-overlay-link:hover {
	background-position: 0;
	color: $turquoise;
	text-decoration: none;
}

div.work-item:hover > span {
	top: 0;
	background-color: rgba(61,187,194,.9);
}

.hide {
	opacity: 0;
}

.ghost {
	display: none;
}

div.blog-post {
	margin-top: 10px;
	padding: 8px 0 6px;
	border-bottom: 1px solid #a5a5a5;
}

div.blog-post img {
	margin: 0 20px 0 0;
	float: left;
}

div.blog-post h1 {
	margin-top: -10px;
}

div.blog-post p.post-data {
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

div.main div.blog-post:first-child {
	margin-top: 0;
	padding-top: 4px;
}

div.main div.blog-post:last-child {
	border-bottom: 0;
}

div.resume-header {
	text-align: center;
}

div.resume-header h1 {
	font-family: 'Exo', Arial, sans-serif;
	font-style: italic;
}

div.resume-cat {
	margin-bottom: 20px;
}

div.resume-cat h2, h3, h4 {
	font-family: 'Open Sans', Arial, sans-serif;
}

div.resume-cat h2 {
	float: left;
}

div.resume-cat div.big-col {
	margin-left: 250px;
	padding-bottom: 10px;
	border-bottom: 1px solid #a5a5a5
}

#footer {
	box-sizing: border-box;
	width: $navbar-width;
	padding: 10px 20px;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	text-align: right;
	text-transform: uppercase;
	color: $footer-txt-color;
	transition: left 0.5s ease-out;
}

footer#footer.footer-hide {
	left: -$navbar-width;
}

#footer p {
	margin: 0 10px;
}

/* Media Queries */
@media (max-width: 480px) {
	body {
		background: $footer-bgcolor;
	}

	#navbar {
		width: 100%;
		padding: 6px 10px 6px 0;
		right: 0;
		bottom: auto;
		text-align: initial;
	}

	#navbar h1 {
		height: 34px;
		margin: 0 0;
		float: left;
	}

	#logo {
		margin-left: 10px;
		font-size: 24px;
	}

	#navbar ul {
		margin: 40px 0 0;
		display: none;
		text-align: right;
	}

	#navbar button {
		display: block;
	}

	#content {
		margin: 0 auto;
		padding: 50px 10px 10px;
		background: $bgcolor;
		background-image: url('/img/noise.png');
	}

	#credentials a {
		margin-bottom: 10px;
		display: block;
	}

	#footer {
		width: 100%;
		height: 100%;
		padding: 10px 10px;
		position: static;
		text-align: left;
		background-color: $footer-bgcolor;
	}

	#footer p {
		margin: 0;
	}
}
