$bgcolor: #fafafa;
$font-color: #000;
$link-color: #3ebac1;
$link-hover-color: #43625c;
$link-active-color: #0a302e;

$navbar-width: 230px;
$navbar-bgcolor: #1d1d20;

$content-max-width: 940px;

$navbar-link-color: #babbbd;
$navbar-hover-color: #fff;

$footer-bgcolor: #2e2e33;
$footer-txt-color: #999;

/* General */
body {
	background: $bgcolor url('/img/bg.jpg') repeat-x top;
	color: $font-color;
	font: 18px 'Open Sans', Helvetica, Arial, sans-serif;
}

a, a:link, a:visited, a:hover, a:active {
	color: $link-color;
	font-weight: bold;
	text-decoration: none;
	transition: color .1s ease-out;
}

a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}

a:active {
	color: $link-active-color;
}

h1 {
	font-size: 24px;
	letter-spacing: 2px;
	margin: 8px 0 2px;
	text-transform: uppercase;
}

p {
	margin: 0 0 10px;
}

ul {
	margin: 2px 0 10px 0;
}

/* Navbar Area */
#navbar {
	box-sizing: border-box;
	width: $navbar-width;
	padding: 10px 20px 10px 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	text-align: right;
	background-color: $navbar-bgcolor;
}

#logo {
	margin-right: 10px;
	font: italic 48px 'Exo', Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}

a#logo, a#logo:link, a#logo:visited {
	color: #fff;
}

a#logo:hover {
	color: $link-color;
	text-decoration: none;
}

a#logo:active {
	color: $link-active-color;
}

#navbar ul {
	margin-top: 10px;
	padding: 0;
	font-size: 16px;
	list-style-type: none;
	text-transform: uppercase;
}

#navbar li a {
	padding: 8px 10px 8px 0;
	display: block;
	background-image: linear-gradient(to right, $link-color 50%, $navbar-bgcolor 50%);
	background-position: 100%;
	background-size: 200% 100%;
	font-size: 14px;
	letter-spacing: 4px;
	color: $navbar-link-color;
	transition: color .1s ease-out, background-position .15s ease-out;
}

#navbar li a:hover {
	background-position: 0;
	color: $navbar-hover-color;
	text-decoration: none;
}

#navbar li a:active {
	background-image: linear-gradient(to right, $link-active-color 50%, $navbar-bgcolor 50%);
}

#navbar button {
	width: 23px;
	height: 34px;
	float: right;
	display: none;
	background: none;
	background: url('/img/mobile-menu-icon.png') no-repeat center;
	border: 0px;
	outline: none;
}

#navbar button:hover {
	background: url('/img/mobile-menu-icon-hover.png') no-repeat center;
}

/* Content Area */
#content {
	margin-left: $navbar-width;
	opacity: 1;
	transition: opacity .1s ease-out;
}

#content.load {
	opacity: 0;
}

.main {
	max-width: $content-max-width;
	padding: 10px 10px 10px 24px;
	margin: 0 auto;
}

.cover {
	width: 100%;
	height: 850px;
	text-align: center;
	position: relative;
	background: url('/img/cover/space-desk-workspace-coworking.jpg') no-repeat center;
	background-size: cover;
}

.cover h1 {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	font-size: 48px;
	color: #fff;
	text-shadow: 3px 3px rgba(0,0,0,0.3);
}

.cover p {
	margin: 0 auto;
	position: absolute;
	top: 60%;
	right: 0;
	left: 0;
	font-weight: bold;
	color: #ddd;
	text-shadow: 3px 3px rgba(0,0,0,0.3);
	text-transform: uppercase;
}

#front-title {
	margin-top: 8px;
	font: italic 48px 'Exo', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

#front-subtitle {
	font: bold italic 24px 'Exo', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

#credentials {
	margin: 30px 0;
	text-align: center;
}

a.btn-link {
	margin: 0 20px;
	padding: 8px 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: $link-color;
	color: $navbar-hover-color;
	text-align: center;
	transition: background-color .15s;
}

a.btn-link:hover {
	background-color: $link-hover-color;
	text-decoration: none;
}

a.btn-link:active {
	background-color: $link-active-color;
}

#credentials img {
	width: 20px;
	height: 20px;
	margin: 0 10px 4px 0;
	vertical-align: middle;
}

#filter {
	height: 100%;
	margin-bottom: 10px;
	border: 1px solid #d2d6d5;
	font-size: 14px;
}

#filter h2 {
	clear: left;
}

#filter ul {
	padding-left: 0;
}

#filter li {
	margin: 0 4px 10px;
	padding: 6px 10px;
	float: left;
	display: inline;
	text-transform: uppercase;
	background-color: $link-color;
	color: $navbar-hover-color;
	text-align: center;
	transition: background-color .15s;
}

#filter li:hover {
	background-color: $link-hover-color;
}

#filter span.hack {
	clear: both;
	display: block;
}

#gallery {
	clear: left;
}

.work-item div {
	width: 302px;
	height: 210px;
	margin: 0 10px 10px 0;
	float: left;
	position: relative;
	background-color: red;
}

.work-item span {
	width: 302px;
	padding: 4px 0;
	position: absolute;
	bottom: 14px;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.5);	
}

.work-item div.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
}

#footer {
	box-sizing: border-box;
	width: $navbar-width;
	padding: 10px 20px;
	font-size: 14px;
	position: fixed;
	bottom: 0;
	text-align: right;
	text-transform: uppercase;
	color: $footer-txt-color;
}

#footer p {
	margin: 0 10px;
}

/* Media Queries */
@media (max-width: 480px) {
	body {
		background: $footer-bgcolor;
	}

	#navbar {
		width: 100%;
		padding: 6px 10px 6px 0;
		right: 0;
		bottom: auto;
		text-align: initial;
	}

	#navbar h1 {
		height: 34px;
		margin: 0 0;
		float: left;
	}

	#logo {
		margin-left: 10px;
		font-size: 24px;
	}

	#navbar ul {
		margin: 40px 0 0;
		display: none;
		text-align: right;
	}

	#navbar button {
		display: block;
	}

	#content {
		margin: 0 auto;
		padding: 50px 10px 10px;
		background: $bgcolor;
		background-image: url('/img/noise.png');
	}

	#credentials a {
		margin-bottom: 10px;
		display: block;
	}

	#footer {
		width: 100%;
		height: 100%;
		padding: 10px 10px;
		position: static;
		text-align: left;
		background-color: $footer-bgcolor;
	}

	#footer p {
		margin: 0;
	}
}

/* Utility Classes */
#navbar ul.show-mobile-menu {
	display: block;
}

#navbar li a.link-highlight {
	background: none;
	background-color: $link-active-color;
	color: $navbar-hover-color;
}
