$bgcolor: #fafafa;
$font-color: #000;
$link-color: #3ebac1;
$link-hover-color: #43625c;
$link-active-color: #0a302e;

$navbar-width: 230px;
$navbar-bgcolor: #1d1d20;

$content-max-width: 960px;

$navbar-link-color: #babbbd;
$navbar-hover-color: #fff;

/* General */
body {
	background: $bgcolor;
	background-image: url('/img/noise.png');
	color: $font-color;
	font: 18px 'Open Sans', Helvetica, Arial, sans-serif;
}

a, a:link, a:visited, a:hover, a:active {
	color: $link-color;
	font-weight: bold;
	text-decoration: none;
	transition: color .1s ease-out;
}

a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}

a:active {
	color: $link-active-color;
}

h1 {
	font-size: 24px;
	letter-spacing: 2px;
	margin: 8px 0 2px;
	text-transform: uppercase;
}

p {
	margin: 0 0 10px;
}

ul {
	margin: 2px 0 10px 0;
}

/* Navbar Area */
#navbar {
	box-sizing: border-box;
	width: $navbar-width;
	padding: 10px 20px 10px 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: $navbar-bgcolor;
	text-align: right;
}

#logo {
	margin-right: 10px;
	font: italic 48px 'Exo', Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}

a#logo, a#logo:link, a#logo:visited {
	color: #fff;
}

a#logo:hover {
	color: $link-color;
	text-decoration: none;
}

a#logo:active {
	color: $link-active-color;
}

#navbar ul {
	margin-top: 10px;
	padding: 0;
	font-size: 16px;
	list-style-type: none;
	text-transform: uppercase;
}

#navbar li a {
	padding: 8px 10px 8px 0;
	display: block;
	background-image: linear-gradient(to right, $link-color 50%, $navbar-bgcolor 50%);
	background-position: 100%;
	background-size: 200% 100%;
	font-size: 14px;
	letter-spacing: 4px;
	color: $navbar-link-color;
	transition: color .1s ease-out, background-position .15s ease-out;
}

#navbar li a:hover {
	background-position: 0;
	color: $navbar-hover-color;
	text-decoration: none;
}

#navbar li a:active {
	background-image: linear-gradient(to right, $link-active-color 50%, $navbar-bgcolor 50%);
}

#navbar button {
	width: 23px;
	height: 34px;
	float: right;
	display: none;
	background: none;
	background: url('/img/mobile-menu-icon.png') no-repeat center;
	border: 0px;
	outline: none;
}

#navbar button:hover {
	background: url('/img/mobile-menu-icon-hover.png') no-repeat center;
}

/* Content Area */
#content {
	box-sizing: border-box;
	max-width: $content-max-width;
	padding: 10px 10px 10px $navbar-width + 30;
}

#front-title {
	margin-top: 8px;
	font: italic 48px 'Exo', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

#front-subtitle {
	font: bold italic 24px 'Exo', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

#credentials {
	margin-top: 30px;
	text-align: center;
}

a.btn-link {
	margin: 0 20px;
	padding: 8px 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: $link-color;
	color: $navbar-hover-color;
	text-align: center;
	transition: background-color .15s;
}

a.btn-link:hover {
	background-color: $link-hover-color;
	text-decoration: none;
}

a.btn-link:active {
	background-color: $link-active-color;
}

#credentials img {
	width: 20px;
	height: 20px;
	margin: 0 10px 4px 0;
	vertical-align: middle;
}

/* Media Queries */
@media (max-width: 480px) {
	#navbar {
		width: 100%;
		padding: 6px 10px 6px 0;
		position: fixed;
		right: 0;
		bottom: auto;
		text-align: initial;
	}

	#navbar h1 {
		height: 34px;
		margin: 0 0;
		float: left;
	}

	#logo {
		margin-left: 10px;
		font-size: 24px;
	}

	#navbar ul {
		margin: 40px 0 0;
		display: none;
		text-align: right;
	}

	#navbar button {
		display: block;
	}

	#content {
		padding: 50px 10px 10px;
	}

	#credentials a {
		margin-bottom: 10px;
		display: block;
	}
}

/* Utility Classes */
#navbar ul.show-mobile-menu {
	display: block;
}

#navbar li a.link-highlight {
	background: none;
	background-color: $link-active-color;
	color: $navbar-hover-color;
}
