/* CSS3 Mixins */
@mixin animation($val) {
	-webkit-animation: $val;
	-moz-animation: $val;
	animation: $val;
}

@mixin box-sizing($val) {
	-webkit-box-sizing: $val;
	-moz-box-sizing: $val;
	box-sizing: $val;
}

@mixin keyframes($val) {
	@-webkit-keyframes #{$val} {
		@content;
	}
	@-moz-keyframes #{$val} {
		@content;
	}
	@keyframes #{$val} {
		@content;
	}
}

@mixin transform($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

@mixin transition($val) {
	-webkit-transition: $val;
	-moz-transition: $val;
	-o-transition: $val;
	transition: $val;
}


/* General */
body {
	font: 16px 'Open Sans', Arial, sans-serif;
	background: #eee url('/img/bg.png');
	color: #333;
}

h1 {
	margin: 0 0 4px;
	font: bold 28px 'Open Sans', Arial, sans-serif;
	letter-spacing: 4px;
	text-transform: uppercase;
}

h1 a:hover {
	text-decoration: none;
}

a, a:link, a:visited, a:hover, a:active {
	font-weight: bold;
	color: #3dbbc2;
	text-decoration: none;
	@include transition(color .1s cubic-bezier(0,1,.8,1));
}

a:hover {
	color: #54e1e6;
	text-decoration: underline;
}


/* Navbar */
$navbar-width: 220px;

#navbar {
	@include box-sizing(border-box);
	width: $navbar-width;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #292c31;
	@include transition(left 0.2s cubic-bezier(0,1,.8,1));
}

#navbar h1 {
	font: italic 48px 'Exo', Arial, sans-serif;
	letter-spacing: 2px;
	color: #3dbbc2;
}

#navbar button {
	display: none;
}

#navbar ul {
	padding: 0;
	font: 14px 'Open Sans Condensed', Arial, sans-serif;
	text-transform: uppercase;
	list-style-type: none;
}

#navbar li {
	border-bottom: 1px solid #393939;
	@include transition(all 0.5s cubic-bezier(0,1,.8,1));
}

#navbar li:hover {
	padding-left: 10px;
}

#navbar li:last-child {
	border-bottom: 0;
}

#navbar li a {
	padding: 10px 0;
	display: block;
	letter-spacing: 4px;
	color: #babbbd;
}

#navbar li a:hover {
	color: #fff;
	text-decoration: none;
}

#footer {
	@include box-sizing(border-box);
	width: $navbar-width;
	padding: 10px 20px;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	text-transform: uppercase;
	color: #999;
	text-align: right;
	@include transition(left 0.5s ease-out);
}

#navbar.navbar-hide, #footer.footer-hide {
	left: -$navbar-width;
}


/* Content */
$fit-max-width: 960px;

#content {
	margin-left: $navbar-width;
	padding: 10px 0 0 20px;
	overflow-x: hidden;
	opacity: 1;
	@include transition(opacity .2s ease-out);
}

#content.load {
	opacity: 0;
}

.fit {
	max-width: $fit-max-width;
	/*padding: 10px 10px 10px 24px;*/
	margin: 0 auto;
}

.btn-link-nav {
	margin: 6px auto;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.btn-link-nav li {
	display: inline-block;
}

a.btn-link {
	box-sizing: border-box;
	width: 146px;
	height: 33px;
	margin: 0 20px;
	padding: 6px 6px;
	display: block;
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 4px;
	text-transform: uppercase;
	background-color: #3dbbc2;
	color: #fafafa;
	text-align: center;
	@include transition(background-color .2s);
}

a.btn-link:hover {
	background-color: #54e1e6;
	text-decoration: none;
}

a.btn-link img {
	width: 20px;
	height: 20px;
	margin: 0 10px 4px 0;
	vertical-align: middle;
}


/* Frontpage */
@include keyframes(title-drop-in) {
	0% {
		opacity: 0;
		@include transform(translateY(-200px));
	}

	60% {
		opacity: 1;
		@include transform(translateY(0));
	}

	100% {
		opacity: 1;
		@include transform(skewX(-10deg));
	}
};

@include keyframes(subtitle-drop-in) {
	0% {
		opacity: 0;
		@include transform(translateY(-30px));
	}

	100% {
		opacity: 1;
		@include transform(translateY(0));
	}
};

#front {
	width: 100%;
	float: left;
	position: fixed;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

#front h1 {
	margin: 0;
	font: 72px 'Exo', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #3dbbc2;
	opacity: 0;
	text-align: center;
	@include animation(title-drop-in 1s cubic-bezier(.25,1,1,1) 0.1s 1 normal forwards);
}

#front p {
	margin: 0 0 50px;
	font: 24px 'Inconsolata', 'Courier New', Courier, monospace;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color: #666;
	opacity: 0;
	text-align: center;
	@include animation(subtitle-drop-in 0.5s cubic-bezier(.25,1,1,1) 1.1s 1 normal forwards);
}
