/* CSS3 Mixins */
@mixin animation($val) {
	-webkit-animation: $val;
	-moz-animation: $val;
	animation: $val;
}

@mixin box-sizing($val) {
	-webkit-box-sizing: $val;
	-moz-box-sizing: $val;
	box-sizing: $val;
}

@mixin keyframes($val) {
	@-webkit-keyframes #{$val} {
		@content;
	}
	@-moz-keyframes #{$val} {
		@content;
	}
	@keyframes #{$val} {
		@content;
	}
}

@mixin linear-gradient($val...) {
	background-image: -webkit-linear-gradient($val);
	background-image: -moz-linear-gradient($val);
	background-image: linear-gradient($val);
}

@mixin transform($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

@mixin transition($val...) {
	-webkit-transition: $val;
	-moz-transition: $val;
	-o-transition: $val;
	transition: $val;
}


/* General */
body {
	font: 16px 'Open Sans', Arial, sans-serif;
	background: #eee url('/img/bg.png');
	color: #333;
}

h1, h2, h3, h4 {
	margin: 0 0 6px;
	font-size: 28px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
	letter-spacing: 0;
	text-transform: none;
}

h4 {
	font-size: 18px;
	letter-spacing: 0;
	text-transform: none;
}

p {
	margin: 0 0 12px;
}

a, a:link, a:visited, a:hover, a:active {
	font-weight: bold;
	color: #3dbbc2;
	text-decoration: none;
	@include transition(color .1s cubic-bezier(0,1,.8,1));
}

a:hover {
	color: #54e1e6;
	text-decoration: underline;
}

ol, ul {
	margin-top: 10px;
}


/* Navbar */
$navbar-width: 220px;

#navbar {
	@include box-sizing(border-box);
	width: $navbar-width;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #292c31;
	@include transition(left 0.2s cubic-bezier(0,1,.8,1));
}

#navbar h1 {
	font: italic 48px 'Exo', Arial, sans-serif;
	letter-spacing: 2px;
	color: #3dbbc2;
}

#navbar button {
	display: none;
}

#navbar ul {
	margin: 0;
	padding: 0;
	font: 14px 'Open Sans Condensed', Arial, sans-serif;
	text-transform: uppercase;
	list-style-type: none;
}

#navbar li {
	border-bottom: 1px solid #393939;
	@include transition(all 0.5s cubic-bezier(0,1,.8,1));
}

#navbar li:hover {
	padding-left: 10px;
}

#navbar li:last-child {
	border-bottom: 0;
}

#navbar li a {
	padding: 10px 0;
	display: block;
	letter-spacing: 4px;
	color: #babbbd;
}

#navbar li a:hover {
	color: #fff;
	text-decoration: none;
}

#footer {
	@include box-sizing(border-box);
	width: $navbar-width;
	padding: 10px 20px;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	text-transform: uppercase;
	color: #999;
	text-align: right;
	@include transition(left 0.5s ease-out);
}

#navbar.navbar-hide, #footer.footer-hide {
	left: -$navbar-width;
}


/* Content */
$fit-max-width: 960px;

#content {
	margin-left: $navbar-width;
	padding-top: 10px;
	overflow-x: hidden;
	opacity: 1;
	@include transition(opacity .2s ease-out);
}

#content.load {
	opacity: 0;
}

.stretch {
	margin-bottom: 20px;
	padding-top: 10px;
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
	background-color: #d2d2d2;
	color: #000;
}

.fit {
	max-width: $fit-max-width;
	margin: 0 auto;
	padding: 0 20px 10px;
}

.banner {
	text-align: center;
}

.btn-link-nav {
	width: 100%;
	margin: 10px auto 16px;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.btn-link-nav li {
	display: inline-block;
}

a.btn-link {
	box-sizing: border-box;
	width: 146px;
	height: 33px;
	margin: 0 20px;
	padding: 6px 6px;
	display: block;
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 4px;
	text-transform: uppercase;
	background-color: #3dbbc2;
	color: #fafafa;
	text-align: center;
	@include transition(background-color .2s);
}

a.btn-link:hover {
	background-color: #54e1e6;
	text-decoration: none;
}

a.btn-link img {
	width: 20px;
	height: 20px;
	margin: 0 10px 4px 0;
	vertical-align: middle;
}


/* Filter */
$filter-height: 40px;

#filter {
	padding-top: 0;
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 2px;
	line-height: $filter-height;
	color: #464646;
	text-transform: uppercase;
}

#filter p {
	height: $filter-height;
	padding: 4px 10px 4px 0;
	border-right: 1px solid #afafaf;
	float: left;
}

#filter ul {
	margin: 0;
}

#filter li {
	height: $filter-height;
	padding: 4px 14px 4px 8px;
	border-right: 1px solid #afafaf;
	display: inline-block;
	background-color: #c7c7c7;
	@include transition(background-color 0.2s ease-out, color 0.2s ease-out);
}

#filter .filter-select {
	background-color: #3dbbc2;
	color: #fafafa;
}

#filter li:hover {
	background-color: #54e1e6;
}

#filter .fit {
	padding-bottom: 0;
}


/* Gallery */
.work-item {
	width: 310px;
	height: 230px;
	margin: 0 10px 10px 0;
	float: left;
	position: relative;
	overflow: hidden;
	@include transition(opacity 0.3s ease-out);
}

.work-item div {
	box-sizing: border-box;
	width: 310px;
	height: 230px;
	padding: 5px 8px;
	position: absolute;
	top: 200px;
	display: block;
	text-transform: uppercase;
	background-color: #3dbbc2;
	color: #fff;
	text-align: left;
	transition: top 0.3s cubic-bezier(0,1,.8,1);
}

.work-item:hover div {
	top: 0;
	background-color: #3dbbc2;
	background-color: rgba(61,187,194,.9);
}

.work-item-hide {
	opacity: 0;
}

.work-item-ghost {
	display: none;
}

.work-item h1 {
	margin: 0 0 4px;
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
}

.work-item p {
	font-size: 14px;
	text-transform: none;
}

.work-item .work-item-cat {
	margin-bottom: 14px;
	font: 12px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.work-item .btn-link-nav {
	position: absolute;
	bottom: 0;
}

a.btn-link2 {
	box-sizing: border-box;
	width: 130px;
	height: 30px;
	margin-right: 10px;
	padding: 4px 6px;
	border: 1px solid #fff;
	display: block;
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 4px;
	text-transform: uppercase;
	background-color: #3dbbc2;
	@include linear-gradient(to right, #fff 50%, rgba(255,255,255,0) 50%);
	background-position: 100%;
	background-size: 200% 100%;
	color: #fff;
	text-align: center;
	transition: background-position .2s cubic-bezier(0,1,.8,1), color .2s cubic-bezier(0,1,.8,1);
}

a.btn-link2:hover {
	background-position: 0;
	color: #3dbbc2;
	text-decoration: none;
}


/* Info Page */
.info-section {
	margin-bottom: 20px;
}

.info-section h2 {
	float: left;
}

.info-section-borderless .big-col {
	border-bottom: 0;
}

.big-col {
	margin-left: 250px;
	padding-bottom: 10px;
	border-bottom: 1px solid #a5a5a5
}

.small-col {
	width: 355px;
	float: left;
	font-size: 14px;
}

.data-style {
	font: 16px 'Inconsolata', 'Courier New', Courier, monospace;
	text-transform: uppercase;
	color: #555;
}

.showcase {
	margin: 20px 0;
}

.showcase img {
	margin-right: 6px;
}


/* Frontpage */
@include keyframes(title-drop-in) {
	0% {
		opacity: 0;
		@include transform(translateY(-200px));
	}

	60% {
		opacity: 1;
		@include transform(translateY(0));
	}

	100% {
		opacity: 1;
		@include transform(skewX(-10deg));
	}
};

@include keyframes(subtitle-drop-in) {
	0% {
		opacity: 0;
		@include transform(translateY(-30px));
	}

	100% {
		opacity: 1;
		@include transform(translateY(0));
	}
};

#front {
	width: 100%;
	float: left;
	position: fixed;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

#front h1 {
	margin: 0;
	font: 72px 'Exo', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #3dbbc2;
	opacity: 0;
	text-align: center;
	@include animation(title-drop-in 1s cubic-bezier(.25,1,1,1) 0.1s 1 normal forwards);
}

#front p {
	margin: 0 0 50px;
	font: 24px 'Inconsolata', 'Courier New', Courier, monospace;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color: #666;
	opacity: 0;
	text-align: center;
	@include animation(subtitle-drop-in 0.5s cubic-bezier(.25,1,1,1) 1.1s 1 normal forwards);
}

/* Blog Feed */
.blog-post {
	height: 210px;
	margin-top: 10px;
	padding: 8px 0 6px;
	border-bottom: 1px solid #a5a5a5;
	overflow: hidden;
}

.blog-post img {
	margin-right: 20px;
	float: left;
}

.blog-post h1 {
	margin-top: -10px;
	letter-spacing: 2px;
}

.post-data {
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.blog-post:last-child {
	border-bottom: 0;
}

/* Lantern.js */
#lantern {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	display: none;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
}

#lantern img {
	width: auto;
	height: auto;
	max-width: 90%;
	max-height: 90%;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#lantern button {
	width: 30px;
	height: 30px;
	border: 0;
	position: absolute;
	top: 6px;
	right: 6px;
	font: bold 18px Arial, Helvetica, sans-serif;
	background-color: #000;
	border-radius: 50%;
	color: #fff;
}

#lantern.lantern-show {
	display: block;
}
