/* CSS3 Mixins */
@mixin animation($val) {
	-webkit-animation: $val;
	-moz-animation: $val;
	animation: $val;
}

@mixin animation-delay($val) {
	-webkit-animation-delay: $val;
	-moz-animation-delay: $val;
	animation-delay: $val;
}

@mixin border-radius($val) {
	-webkit-border-radius: $val;
	-moz-border-radius: $val;
	border-radius: $val;
}

@mixin box-shadow($val) {
	-webkit-box-shadow: $val;
	-moz-box-shadow: $val;
	box-shadow: $val;
}

@mixin box-sizing($val) {
	-webkit-box-sizing: $val;
	-moz-box-sizing: $val;
	box-sizing: $val;
}

@mixin filter($val) {
	-webkit-filter: $val;
	-moz-filter: $val;
	filter: $val;
}

@mixin keyframes($val) {
	@-webkit-keyframes #{$val} {
		@content;
	}
	@-moz-keyframes #{$val} {
		@content;
	}
	@keyframes #{$val} {
		@content;
	}
}

@mixin linear-gradient($val...) {
	background-image: -webkit-linear-gradient($val);
	background-image: -moz-linear-gradient($val);
	background-image: -ms-linear-gradient($val);
	background-image: -o-linear-gradient($val);
	background-image: linear-gradient($val);
}

@mixin text-shadow($val) {
	-webkit-text-shadow: $val;
	-moz-text-shadow: $val;
	text-shadow: $val;
}

@mixin transform($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

@mixin transition($val...) {
	-webkit-transition: $val;
	-moz-transition: $val;
	-o-transition: $val;
	transition: $val;
}


/* General */
body {
	font: 16px 'Open Sans', Arial, sans-serif;
	background: #eee url('/img/bg.png');
	color: #333;
}

h1, h2, h3, h4 {
	margin: 0 0 6px;
	font-size: 28px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
	letter-spacing: 0;
	text-transform: none;
}

h4 {
	font-size: 18px;
	letter-spacing: 0;
	text-transform: none;
}

p {
	margin: 0 0 12px;
}

a, a:link, a:visited, a:hover, a:active {
	font-weight: bold;
	color: #3dbbc2;
	text-decoration: none;
	@include transition(color .1s cubic-bezier(0,1,.8,1));
}

a:hover {
	color: #54e1e6;
	text-decoration: underline;
}

ol, ul {
	margin-top: 10px;
}

table {
	margin: 14px auto;
	background-color: #ececec;
}

thead tr {
	background-color: #292C31;
	color: #fafafa;
}

th, td {
	padding: 12px 14px;
	border: 1px solid #292c31;
	text-align: left;
}

noscript {
	font: bold 14px Arial, sans-serif;
	letter-spacing: 0;
	color: #ff0000;
	text-transform: uppercase;
}


/* Navbar */
$navbar-width: 220px;
$navbar-mobile-height: 50px;

#navbar {
	@include box-sizing(border-box);
	width: $navbar-width;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #292c31;
	@include transition(left 0.2s cubic-bezier(0,1,.8,1));
}

#navbar h1 {
	font: italic 48px 'Exo', Arial, sans-serif;
	letter-spacing: 2px;
	color: #3dbbc2;
}

#navbar ul {
	margin: 0;
	padding: 0;
	font: 14px 'Open Sans Condensed', Arial, sans-serif;
	text-transform: uppercase;
	list-style-type: none;
}

#navbar li {
	border-bottom: 1px solid #393939;
}

#navbar li:last-child {
	border-bottom: 0;
}

#navbar li a {
	padding: 10px 0;
	display: block;
	letter-spacing: 4px;
	color: #babbbd;
	@include transition(all 0.5s cubic-bezier(0,1,.8,1));
}

#navbar li a:hover {
	padding-left: 20px;
	color: #fff;
	text-decoration: none;
}

#navbar li a.navlink-select {
	color: #fafafa;
	padding-left: 10px;
}

#navbar button {
	width: 23px;
	height: 34px;
	float: right;
	display: none;
	background: url('/img/mobile-menu-icon.png') no-repeat center;
	border: 0;
	outline: none;
}

#navbar button:hover {
	background: url('/img/mobile-menu-icon-hover.png') no-repeat center;
}

#footer {
	@include box-sizing(border-box);
	width: $navbar-width;
	padding: 10px 20px;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	text-transform: uppercase;
	color: #999;
	@include transition(left 0.2s cubic-bezier(0,1,.8,1));
}

#footer img {
	width: 14px;
	height: 14px;
	margin-right: 4px;
	@include filter(contrast(50%));
	@include transition(all 0.5s cubic-bezier(0,1,.8,1));
}

#footer img:hover {
	@include filter(contrast(100%));
}

#footer .linkedin {
	width: 16px;
	height: 13px;
	margin-right: 2px;
}

#navbar.navbar-hide, #footer.footer-hide {
	left: -$navbar-width;
}


/* Content */
$fit-max-width: 960px;

#content {
	margin-left: $navbar-width;
	overflow-x: hidden;
	opacity: 1;
	@include transition(opacity .2s ease-out);
}

#content.load {
	opacity: 0;
}

.stretch {
	margin-bottom: 20px;
	padding-top: 10px;
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
	background-color: #d2d2d2;
	color: #000;
}

.fit {
	max-width: $fit-max-width;
	margin: 0 auto;
	padding: 10px 20px;
}

.stretch .fit {
	padding-top: 0;
}

.banner {
	margin-top: 10px;
	text-align: center;
}

.banner p {
	margin-bottom: 4px;
}

.btn-link-nav {
	width: 100%;
	margin: 10px auto 16px;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.btn-link-nav li {
	display: inline-block;
}

a.btn-link {
	box-sizing: border-box;
	width: 146px;
	margin: 0 20px;
	padding: 6px 6px;
	display: block;
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 4px;
	text-transform: uppercase;
	background-color: #3dbbc2;
	color: #fafafa;
	text-align: center;
	@include transition(background-color .2s);
}

a.btn-link:hover {
	background-color: #54e1e6;
	text-decoration: none;
}

a.btn-link img {
	width: 20px;
	height: 20px;
	margin: 0 10px 4px 0;
	vertical-align: middle;
}

a.btn-link .linkedin {
	width: 20px;
	height: 16px;
}

a.btn-link2 {
	box-sizing: border-box;
	width: 130px;
	height: 30px;
	margin-right: 10px;
	padding: 4px 6px;
	border: 1px solid #fff;
	display: block;
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 4px;
	text-transform: uppercase;
	@include linear-gradient(to right, #fff 50%, rgba(255,255,255,0) 50%);
	background-position: 100%;
	background-size: 200% 100%;
	color: #fff;
	text-align: center;
	@include transition(background-position .2s cubic-bezier(0,1,.8,1), color .2s cubic-bezier(0,1,.8,1));
}

a.btn-link2:hover {
	background-position: 0;
	color: #3dbbc2;
	text-decoration: none;
}

#loader {
	height: 100%;
	padding-left: $navbar-width;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}

@include keyframes(loader-spin) {
	0% {
		@include transform(rotate(0deg));
	}

	100% {
		@include transform(rotate(360deg));
	}
};

#loader.load-hide {
	display: none;
}

#loader div {
	width: 85px;
	height: 85px;
	border: 8px solid rgba(0,0,0,0.3);
	margin: -50px 0 0 -50px;
	position: relative;
	top: 50%;
	left: 50%;
	@include border-radius(50%);
	border-top-color: #3dbbc2;
	@include animation(loader-spin 1000ms ease-in-out infinite);
}


/* Filter */
$filter-height: 40px;

#filter {
	padding-top: 0;
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 2px;
	line-height: $filter-height;
	color: #464646;
	text-transform: uppercase;
}

#filter p {
	height: $filter-height;
	padding: 4px 10px 4px 0;
	border-right: 1px solid #afafaf;
	float: left;
}

#filter ul {
	margin: 0;
}

#filter li {
	height: $filter-height;
	padding: 4px 14px 4px 8px;
	border-right: 1px solid #afafaf;
	display: inline-block;
	background-color: #c7c7c7;
	@include transition(background-color 0.2s ease-out, color 0.2s ease-out);
}

#filter .filter-select {
	background-color: #3dbbc2;
	color: #fafafa;
}

#filter li:hover {
	background-color: #54e1e6;
}

#filter .fit {
	padding-bottom: 0;
}


/* Gallery */
#gallery {
	margin: 0 auto;
}

.work-item {
	width: 310px;
	height: 230px;
	margin: 0 10px 10px 0;
	float: left;
	position: relative;
	overflow: hidden;
	@include transition(opacity 0.3s ease-out);
}

.work-item div {
	box-sizing: border-box;
	width: 310px;
	height: 230px;
	padding: 5px 8px;
	position: absolute;
	top: 200px;
	display: block;
	text-transform: uppercase;
	background-color: #3dbbc2;
	color: #fff;
	text-align: left;
	@include transition(top 0.3s cubic-bezier(0,1,.8,1));
}

.work-item:hover div {
	top: 0;
	background-color: #3dbbc2;
	background-color: rgba(61,187,194,.9);
}

.work-item-hide, .work-item-reveal {
	opacity: 0;
}

.work-item-ghost {
	display: none;
}

.work-item h1 {
	margin: 0 0 4px;
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
}

.work-item p {
	font-size: 14px;
	text-transform: none;
}

.work-item .work-item-cat {
	margin-bottom: 14px;
	font: 12px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.work-item .btn-link-nav {
	position: absolute;
	bottom: 0;
}


/* Info Page */
.info-section {
	margin-bottom: 20px;
}

.info-section h2 {
	float: left;
}

.info-section-borderless .big-col {
	border-bottom: 0;
}

.big-col {
	margin-left: 250px;
	padding-bottom: 10px;
	border-bottom: 1px solid #a5a5a5
}

.small-col {
	width: 355px;
	float: left;
	font-size: 14px;
}

.data-style {
	font: 16px 'Inconsolata', 'Courier New', Courier, monospace;
	text-transform: uppercase;
	color: #555;
}

.showcase {
	margin: 20px 0;
	text-align: center;
}

.showcase img {
	margin-right: 6px;
}

.colfix {
	clear: left;
}


/* Blog */
.blog-nav {
	text-transform: uppercase;
}

.blog-post {
	margin-bottom: 10px;
	padding: 8px 0 6px;
	border-bottom: 1px solid #a5a5a5;
	overflow: hidden;
}

.blog-post img {
	margin: 0 20px 6px 0;
	float: left;
}

.blog-post h1 {
	margin-top: -10px;
	letter-spacing: 2px;
}

.blog-post a.btn-link {
	margin-bottom: 8px;
	float: right;
}

.post-data {
	font: bold 14px 'Open Sans Condensed', Arial, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.blog-post:last-child {
	border-bottom: 0;
}

#cover {
	width: 100%;
	height: 850px;
	margin-bottom: 10px;
	position: relative;
}

#cover-text {
	height: 250px;
	padding: 0 10px;
	position: absolute;
	top: 42%;
	right: 0;
	left: 0;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}

#cover-text h1 {
	margin-top: 70px;
	font-size: 48px;
	color: #fff;
}

#cover-text p {
	font: 20px 'Inconsolata', 'Courier New', Courier, monospace;
	font-weight: bold;
	color: #ddd;
	text-transform: uppercase;
}


/* Lantern.js */
#lantern {
	width: 100%;
	height: 100%;
	position: fixed;
	top: -100%;
	bottom: auto;
	z-index: 2;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	@include transition(opacity 0.3s ease-out);
}

#lantern img {
	width: auto;
	height: auto;
	max-width: 90%;
	max-height: 90%;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@include box-shadow(0 3px 5px 0 rgba(0,0,0,0.5));
	@include transform(scale(0));
	@include transition(transform 0.3s ease-out);
}

#lantern button {
	width: 30px;
	height: 30px;
	border: 0;
	position: absolute;
	top: 6px;
	right: 6px;
	font: bold 20px Arial, Helvetica, sans-serif;
	background: none;
	color: #fff;
	outline: none;
	@include text-shadow(0px 3px 5px rgba(0,0,0,0.8));
}

#lantern.lantern-show {
	top: 0;
	bottom: 0;
	opacity: 1;
}

#lantern.lantern-show img {
	@include transform(scale(1));
}


/* Frontpage */
@include keyframes(title-drop-in) {
	0% {
		opacity: 0;
		@include transform(translate3d(0,-200px,0));
	}

	60% {
		opacity: 1;
		@include transform(translate3d(0,0,0));
	}

	100% {
		opacity: 1;
		@include transform(skewX(-10deg));
	}
};

@include keyframes(subtitle-drop-in) {
	0% {
		opacity: 0;
		@include transform(translate3d(0,-30px,0));
	}

	100% {
		opacity: 1;
		@include transform(translate3d(0,0,0));
	}
};

#front {
	width: 100%;
	float: left;
	position: fixed;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
}

#front h1 {
	margin: 0;
	font: 72px 'Exo', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #3dbbc2;
	opacity: 0;
	text-align: center;
	@include animation(title-drop-in 1000ms cubic-bezier(.25,1,1,1) 100ms 1 normal forwards);
}

#front p {
	margin: 0 0 40px;
	font: 24px 'Inconsolata', 'Courier New', Courier, monospace;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color: #666;
	opacity: 0;
	text-align: center;
	@include animation(subtitle-drop-in 500ms cubic-bezier(.25,1,1,1) 1100ms 1 normal forwards);
}

#front li {
	@include animation(subtitle-drop-in 250ms cubic-bezier(.25,1,1,1) 0ms 1 normal forwards);
    opacity: 0;
}

#front li:nth-child(1) {
	@include animation-delay(1200ms);
}

#front li:nth-child(2) {
	@include animation-delay(1300ms);
}

#front li:nth-child(3) {
	@include animation-delay(1400ms);
}

#front li:nth-child(4) {
	@include animation-delay(1500ms);
}

#front li:nth-child(5) {
	@include animation-delay(1600ms);
}


/* Mobile */
@media (max-width: 1340px) {
	/* Blog */
	#cover-text {
		top: 40%;
	}

	#cover-text h1 {
		font-size: 40px;
	}
}

@media (max-width: 1240px) {
	/* Info Page */
	.showcase img {
		width: 20%;
	}
}

@media (max-width: 1340px) {
	/* Blog */
	#cover-text h1 {
		font-size: 34px;
	}
}

@media (max-width: 1020px) {
	/* Blog */
	.blog-post img {
		width: 40%;
	}
}

@media (max-width: 1000px) {
	/* Info Page */
	.info-section h2 {
		float: none;
	}

	.big-col {
		margin-left: 0;
	}
}

@media (max-width: 980px) {
	/* General */
	.btn-link-nav a.btn-link {
		margin: 0;
	}

	/* Info Page */
	.showcase img {
		width: auto;
	}

	/* Blog */
	#cover-text h1 {
		font-size: 32px;
	}
}

@media (max-width: 840px) {
	/* Blog */
	#cover-text h1 {
		font-size: 24px;
	}
}

@media (max-width: 810px) {
	/* Filter */
	#filter {
		line-height: normal;
	}

	#filter p {
		margin: 0;
		padding-bottom: 0;
		border: 0;
		float: none;
		font-size: 20px;
	}

	#filter ul {
		padding-left: 0;
	}

	#filter li {
		height: auto;
		margin: 0 10px 10px 0;
		border: 1px solid #afafaf;
	}
}

@media (max-width: 770px) {
	/* General */
	.btn-link-nav li {
		margin: 0 auto 10px;
		display: table;
	}

	/* Info Page */
	.showcase img {
		width: 40%;
	}
}

@media (max-width: 700px) {
	/* General */
	.btn-link-nav li {
		margin: 0;
		display: inline-block;
	}

	/* Navbar */
	#navbar {
		width: 100%;
		height: $navbar-mobile-height;
		padding: 6px 20px;
		right: 0;
		bottom: auto;
		z-index: 1;
		overflow-y: hidden;
		@include transition(height 0.3s ease-out);
	}

	#navbar h1 {
		float: left;
		font: italic 30px 'Exo', Arial, sans-serif;
	}

	#navbar button {
		display: block;
	}

	#navbar ul {
		padding-top: 50px;
	}

	#navbar.mobile-menu-show {
		height: 260px;
	}

	#navbar.navbar-hide {
		display: none;
	}

	/* Content */
	#content {
		margin: $navbar-mobile-height 0 10px;
	}

	#loader {
		padding-left: 0;
	}

	/* Footer */
	#footer {
		display: none;
	}

	/* Front */
	#front .btn-link-nav li {
		margin: 0 auto 10px;
		display: table;
	}

	/* Front */
	#front p {
		margin-bottom: 20px;
	}
}

@media (max-width: 510px) {
	/* General */
	.btn-link-nav li {
		margin: 0 auto 10px;
		display: table;
	}

	/* Info Page */
	.blog-post img {
		width: 45%;
	}
}

@media (max-width: 400px) {
	/* Blog */
	.blog-post img {
		width: 300px;
		margin: 0 auto 14px;
		float: none;
		display: block;
	}
}

@media (max-width: 360px) {
	/* General */
	#gallery.fit {
		padding: 10px 2px;
	}
}

@media (max-height: 900px) {
	/* Blog */
	#cover {
		height: 600px;
	}

	#cover-text {
		top: 30%;
	}
}

@media (max-height: 650px) {
	/* Blog */
	#cover {
		height: 400px;
	}

	#cover-text {
		top: 20%;
	}
}

@media (max-height: 450px) {
	/* Blog */
	#cover {
		height: 260px;
	}

	#cover-text {
		height: 260px;
		top: 0;
	}
}

@media (max-height: 320px) {
	/* Footer */
	#footer {
		display: none;
	}
}

@media (max-height: 290px) {
	/* Navbar */
	#navbar {
		width: 100%;
		height: $navbar-mobile-height;
		padding: 6px 20px;
		right: 0;
		bottom: auto;
		z-index: 1;
		overflow-y: hidden;
		@include transition(height 0.3s ease-out);
	}

	#navbar h1 {
		float: left;
		font: italic 30px 'Exo', Arial, sans-serif;
	}

	#navbar button {
		display: block;
	}

	#navbar ul {
		padding-top: 50px;
	}

	#navbar.mobile-menu-show {
		height: 260px;
	}

	#navbar.navbar-hide {
		display: none;
	}

	/* Content */
	#content {
		margin: $navbar-mobile-height 0 10px;
	}

	/* Footer */
	#footer {
		display: none;
	}
}
